<!doctype html>

<html>
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/normalize.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/style.css">
		<link href='http://fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<title>Nathan Carter's Landing Page</title>
	</head>
	<body>
		<div id="site_wrapper">
			<div id="header_wrapper">
				<div class="header clearfix">
                    <img src="{{ STATIC_URL }}images/thisguy.png" alt="Nathan Carter Esq." class="logo" />
					<span class="name">Nathan Carter</span>
					<div class="top">
						<a href="index.html" class="nav one">Home</a>
						<a href="projects.html" class="nav two">Projects</a>
						<a href="resume.html" class="nav three">Resume</a>
						<a href="contact.html" class="nav four">Contact</a>
					</div>
				</div>
			</div>
			<div id="content_wrapper">
				<div class="content clear">
				<p>Hello (world).</p>
				<p>I am a twenty-one year old fledgling front-end developer 
				and very, very fledgling designer.</p>
				<p>Here are some of the things I am trying to learn: <a href="#">CSS</a>,
				<a href="#">jQuery</a>, <a href="#">Python</a> 
				(and in particular the <a href="#">Django framework</a>),
				<a href="#">bash</a> and the <a href="#">vim editor</a>.</p>
				<p>Here are some ways in which we might mediate the social experience: 
				<a href="https://www.facebook.com/nathan.carter.562">Poke me</a>, 
				<a href="http://reddit.com/u/rebellionlies">upvote me</a>, 
				<a href="http://codeacademy.com/user/thingummajig">look at me</a>, 
				<a href="nathan.andrew.carter@gmail.com">hire me</a>.</p>
				</div>
			</div>
		</div>
	</body>
</html>
