<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}WRFLgroove{% endblock title %}</title>
        <link rel="stylesheet" media="screen" href="{{STATIC_URL}}wrflgroove/style/bootstrap.css">
        <link href="http://fonts.googleapis.com/css?family=Signika:400,600" rel="stylesheet" type="text/css">
    </head>
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ STATIC_URL }}wrflgroove/js/bootstrap.min.js"></script>
        <header class="hero-unit">
            <div class="container">
                <h1>WRFLgroove<h1>
                <p class="pull-right">Listen to your favorite WRFL DJ anywhere, any time.</p>
            </div>
        </header>
        <nav class="navbar">
            <div class="navbar-inner">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/wrflgroove">Home</a></li>
                    <li><a href="http://github.com/thingummajig/wrflgroove">GitHub</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
        {% block content %} {% endblock %}
        </div>
        <footer class="modal-footer">
            <p><small>WRFLgroove is (c) 2013 Nathan Carter and released under the MIT Open Source license.</small></p>
        </footer>
    </body>
</html>

