{% extends 'base.html' %}
{% block title %} WRFLgroove | {{ deejay }}{% endblock %}
{% block content %}
    {% if object_list %}
        <div class="row">
        {% if object_list %}
            <h2>{{ deejay }}</h2> 
            <span class="pull-right"><a href="http://wrfl.fm/en/user/{{ deejay }}">(WRFL Page)</a></span>
            {% for play in object_list %}
                <div class="span12">
                    <div class="playtime"><small>{{ play.playtime }}</small></div>
                    <div class="track">
                    {% if play.url != '' %}
                    <a href="{{ play.url }}">
                    {% endif %}
                    {{ play.artist }} - {{ play.song }}
                    {% if play.url != '' %}
                        </a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
    {% endif %}
{% endblock %}
